head
  script(type="text/javascript", src="http://code.jquery.com/jquery-1.6.4.js")
  script(type="text/javascript", src="/javascripts/client.js")
body
  h1 Dashboard 
  h3 - #{title}
  form(method='post',action='/dashboard')
    div#enterTicker
      |Ticker:
      input(type='text',name='ticker', id='tickertxt')
      input(type='submit', name='btnTicker',value='go')
    if(ErrorMsg != '')
      #{ErrorMsg}