head
  script(type="text/javascript", src="http://code.jquery.com/jquery-1.6.4.js")
  script(type="text/javascript", src="/javascripts/client.js")
  link(rel='stylesheet', href='/stylesheets/style.css')
body
  h1 Dashboard 
  h3 - #{title}
  form(method='post',action='/dashboard')
    div#enterTicker
      |Ticker:
      input(type='text',name='ticker', id='tickertxt')
      input(type='button',id='btnTicker', name='btnTicker',value='go')
      input(type='hidden',name='polling',id='polling',value='false')
      div#errorDiv
    div#tweetsHeader.jstwitter
      ul#tweetsList