body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.jstwitter {
    width: 300px;
    font-family: georgia;
    font-size: 15px;
    color: #333333;
    padding: 10px;
}
.tweet {
    margin: 0 auto 15px auto;
    padding: 0 0 15px 0;
    border-bottom: 1px dotted #ccc;
}

#tweetsList .tweet a {
    text-decoration: none;
    color: #13c9d0;
}

.tweetname
{
	color:black;
}
 
#tweetsList .tweet a:hover {
    text-decoration: underline;
}
 
#tweetsList .tweet .time {
    font-size: 10px;
    font-style: italic;
    color: #666666;
}